# Artifacts
dist
build

# Binaries
bin

# System folders
.DS_Store



# Project configuration
.idea
.vscode

# Logs
logs

# Runtime data
*.7z
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip

# Audio files
*.mp3

